<!DOCTYPE html>
<html>
  <head>
    <title>Trade Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'styles', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <nav class="header-wrapper">
      <% react_component("Header") %>
      <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "user-login-bar") %>          
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
